- name: Update apt package repository
  apt:
    update_cache: yes

- name: Upgrade all packages
  apt:
    upgrade: yes

- name: Install dependencies
  apt:
    name:
      - ca-certificates
      - curl
      - gpg
    state: present
    update_cache: yes

#- name: Allow tcp port 123 in ufw for ntp
#  ufw:
#    rule: allow
#    port: 123
#    proto: tcp

- name: Disable ufw
  ufw:
    state: disabled

- name: Create dir for k8s keyring
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"

- name: Fetch and place k8s keyring
  get_url:
    url: https://pkgs.k8s.io/core:/stable:/v1.30/deb/Release.key
    dest: /etc/apt/keyrings/kubernetes-apt-keyring.asc
    mode: "0644"

- name: Convert k8s keyring to gpg format
  command: >
    gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
    /etc/apt/keyrings/kubernetes-apt-keyring.asc
  args:
    creates: /etc/apt/keyrings/kubernetes-apt-keyring.gpg

- name: Add k8s repo
  copy:
    dest: /etc/apt/sources.list.d/kubernetes.list
    content: |
      deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.30/deb/ /


- name: Update apt package repository
  apt:
    update_cache: yes

- name: Install kubeadm, kubelet and kubectl
  apt:
    name:
      - kubeadm
      - kubelet
      - kubectl
    state: present

- name: Hold versions
  command: apt-mark hold kubeadm kubelet kubectl
  changed_when: false

- name: Disable swap
  command: swapoff -a
  when: ansible_facts['swaptotal_mb'] > 0

- name: Remove swap from fstab
  replace:
    path: /etc/fstab
    regexp: '^\s*([^#].*\s+swap\s+.*)$'
    replace: '# \1'

- name: Load kernel modules
  copy:
    dest: /etc/modules-load.d/k8s.conf
    content: |
      overlay
      br_netfilter

- name: Apply sysctl params
  copy:
    dest: /etc/sysctl.d/k8s.conf
    content: |
      net.bridge.bridge-nf-call-iptables  = 1
      net.bridge.bridge-nf-call-ip6tables = 1
      net.ipv4.ip_forward                 = 1

- name: Apply sysctl
  command: sysctl --system
