## ubuntu-common

---
- name: Update apt package repository
  apt:
    update_cache: yes

- name: Upgrade all packages
  apt:
    upgrade: yes

- name: Check to see if docker is installed
  stat:
    path: /usr/bin/docker
  register: docker_installed

- name: Install dependencies
  apt:
    name:
      - curl
      - ca-certificates
      - dnsutils
      - iputils-ping
      - ufw
      - lsof
      - chrony
    state: present
    update_cache: yes

- name: Allow ssh port in ufw
  ufw:
    rule: allow
    port: 22
    proto: tcp

- name: Enable ufw
  ufw:
    state: enabled

- name: Download official docker install script
  get_url:
    url: https://get.docker.com
    dest: /tmp/get-docker.sh
    mode: '0755'
  register: docker_script_downloaded
  when: not docker_installed.stat.exists

- name: Run docker install script
  command: |
    bash /tmp/get-docker.sh
  args:
    creates: /usr/bin/docker
  when: not docker_installed.stat.exists

- name: Cleanup docker install script if docker installed successfully
  file:
    path: /tmp/get-docker.sh
    state: absent

- name: Ensure docker group exists
  group:
    name: docker
    state: present

- name: Add user to docker group
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes

- name: Ensure all changes are flushed to disk
  shell: sync

- name: Reboot to apply group and path changes
  reboot:
    reboot_timeout: 300
  when: docker_script_downloaded is defined and docker_script_downloaded.changed


- name: Wait for system to come back online
  wait_for_connection:
    timeout: 300

